# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.production
.env.development
SECRET_PRODUCTION_KEYS.md
serviceAccountKey.json

# Build
dist/
build/
.next/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Large / Temp Files
*.tmp
hms-backend/BITE9B3.tmp
